
  .my-card{
    position: relative;
    width: 70%;
    padding: 50px;
    background-color: burlywood;
    margin-left: 15%;
    margin-top: 10px;
    border-radius: 10%;
    }

.img1{
  padding: 30px 0;
  width: 100%;
  height: auto;
}

.edit{
margin-left: 45%;
}
.empty{
  margin:2% 10% 0 10% ;
}
