





  <mat-card class="background-card">
    <form class="example-form">



      <mat-form-field class="example-full-width">
        <mat-label>Title</mat-label>
        <input matInput name="Title" [(ngModel)]="formData.title" value="Add your recipe title">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Subtitle</mat-label>
        <input matInput  name="subTitle" [(ngModel)]="formData.subTitle" value="How long does it take to prepare">
      </mat-form-field>



      <mat-form-field class="example-full-width">
        <mat-label>Content</mat-label>
        <textarea matInput  name="content" [(ngModel)]="formData.content" placeholder="Steps to prepare"></textarea>
      </mat-form-field>

      <button mat-raised-button color="accent" aria-label="Example icon button with a bookmark icon" (click)="save()">
        Save Data
        </button>




    </form>
  </mat-card>







